@media all and (max-width: 767px) {
  .navbar-default img {
    width: 195px;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
    float: none; }
  .navbar-default .navbar-nav > li > a {
    font-size: 1.5em;
    text-align: center; }

  .navbar-toggle {
    margin-top: -41px; }

  header h1 {
    font-size: 35px;
    margin: -20px 0 0 0; }

  section h2:before, section h2:after {
    width: 10%; }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about img {
      width: 75%;
      margin: -44px auto 0 auto; }
    .about .content1 {
      margin: 220px 0 160px 0; }

  .room .content2 p {
    font-size: 12px; }

  .breakfast .menuText {
    display: none; }

  .contact form {
    width: 70%; }
  .contact input, .contact textarea, .contact button {
    width: 100%; } }
@media all and (max-width: 479px) {
  header h1 {
    font-size: 20px;
    margin: 0; }

  section h2 {
    font-size: 1.5em; }

  .responsiveImg {
    display: block;
    margin: 50px auto -15px auto; }

  .about .img {
    margin: -65px auto 0 auto; }
  .about .content1 {
    margin: 341px 0 275px 0; }
    .about .content1 p {
      font-size: 16px; }

  .room .content2 p {
    font-size: 11px; }
  .room .content3 {
    display: none; }

  .breakfast h3 {
    font-size: 22px; }

  .contact form {
    width: 70%; }
  .contact input, .contact textarea, .contact button {
    width: 100%; } }
body {
  background-color: #c7bda4;
  font-family: helvetica sans-serif; }

main {
  max-width: 1367px;
  margin: 0 auto; }

section {
  width: 100%;
  max-width: 85%;
  margin: 100px auto; }
  section h2 {
    margin-bottom: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    color: #5c554b;
    text-shadow: 2px 2px #777;
    position: relative;
    padding: 0 55px; }
    section h2:before, section h2:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 15%;
      height: 4px;
      background-color: #5c554b;
      box-shadow: 3px 3px #777; }
    section h2:before {
      left: 0; }
    section h2:after {
      right: 0; }

.relative {
  position: relative; }

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.width100 {
  width: 100%; }

.box {
  background-color: #5c554b;
  box-shadow: 5px 5px #777;
  color: #c7bda4; }

.responsiveImg {
  display: none; }

header {
  margin-bottom: 40px; }

.navbar-header {
  background-color: white; }

.navbar-default {
  margin: 0;
  background-color: white; }
  .navbar-default img {
    width: 200px;
    vertical-align: middle;
    float: left;
    margin-left: 20px; }
  .navbar-default .navbar-nav > li > a {
    font-size: 1em;
    font-weight: 700;
    text-shadow: 1px 1px #222; }

.navPosition {
  margin-right: 20px; }

.container-fluid {
  margin: 0;
  padding: 0; }

.carousel-inner img {
  width: 100%; }

header h1 {
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 65px;
  width: 94%;
  margin: 0 0 0 30px;
  text-shadow: 3px 3px #222; }
  header h1:first-letter {
    font-size: 2em; }

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .about p {
    color: #c7bda4;
    padding: 5px 10px; }
    .about p:first-letter {
      font-size: 1.5em; }
  .about img {
    width: 100%; }
  .about .content1 {
    width: 100%;
    margin: 20px 0 0 30px;
    font-size: 18px; }

.room .content2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.room .flex-item {
  padding: 10px;
  width: 32%; }
.room p {
  font-size: 20px;
  margin: 5px 0; }
  .room p span {
    font-weight: 700;
    border-bottom: 1px solid #5c554b;
    padding: 5px 0;
    margin: 20px 0; }
.room .content3 {
  margin: 50px 0;
  padding: 1px; }
  .room .content3 p {
    margin: 30px 40px; }
    .room .content3 p:first-letter {
      font-size: 1.5em; }
  .room .content3 img {
    display: block;
    margin: 0 auto 30px auto; }

.breakfast h3 {
  font-size: 36px;
  text-align: center;
  margin: 50px 0 70px 0;
  font-weight: bold; }
.breakfast .content4 img {
  margin: 0 0 30px 0; }
.breakfast .content5 {
  display: none; }
  .breakfast .content5 img {
    width: 300px;
    height: 300px;
    margin: 30px 0;
    object-fit: cover;
    box-shadow: 4px 4px #5c554b; }
  .breakfast .content5 .menuText {
    text-align: center;
    color: #c7bda4;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    margin: 30px 0;
    opacity: 0; }
    .breakfast .content5 .menuText:hover {
      opacity: 1;
      -webkit-transition: opacity 0.4s ease-in;
              transition: opacity 0.4s ease-in; }
    .breakfast .content5 .menuText span {
      display: block;
      font-size: 24px;
      font-weight: bold;
      margin: 30px 0; }
    .breakfast .content5 .menuText p {
      font-size: 16px;
      padding: 10px; }
.breakfast #show {
  text-align: center;
  font-size: 3em;
  max-width: 350px;
  margin: 20px auto; }
  .breakfast #show:hover {
    box-shadow: none; }

.contact p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0; }
.contact form {
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center; }
  .contact form span {
    font-size: 10px;
    vertical-align: middle;
    margin-left: 10px; }
.contact input, .contact textarea, .contact button {
  border: 1px solid #c7bda4;
  margin: 5px 0 10px 0;
  width: 400px;
  background-color: #5c554b; }
.contact button {
  color: #c7bda4;
  margin-bottom: 20px; }

footer {
  width: 100%;
  color: #c7bda4;
  text-align: center;
  background-color: #5c554b; }
  footer .info {
    padding: 13px 0; }
    footer .info p, footer .info address {
      font-size: 16px; }
    footer .info img {
      margin: 5px 0;
      width: 30px; }

.goUpicon {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  opacity: 0.6; }
  .goUpicon:hover {
    opacity: 1;
    -webkit-animation: hopping 1s infinite;
            animation: hopping 1s infinite; }

.glyphicon {
  top: 3px;
  left: 3px; }

.appear {
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation: showUp 1s both;
          animation: showUp 1s both; }

@-webkit-keyframes showUp {
  0% {
    -webkit-transform: translate(0, -3em);
            transform: translate(0, -3em);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; } }

@keyframes showUp {
  0% {
    -webkit-transform: translate(0, -3em);
            transform: translate(0, -3em);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; } }
@-webkit-keyframes hopping {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }
@keyframes hopping {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }
.d1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.d2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.d3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.d4 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.d5 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.d5 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

/*# sourceMappingURL=style.css.map */