$main-color: rgb(199,189,164);
$sub-color: rgb(92,85,75);
$shadow:#777;

//Common

body{
    background-color: $main-color;
    font-family: helvetica sans-serif;
}

section{
    width: 100%;
    max-width: 85%;
    margin: 100px auto;
//    border-bottom: 3px solid $sub-color;
    h2{
        margin-bottom: 100px;
        text-align: center;
        font-weight: 700;
        font-size: 4em;
        color: $sub-color;
        text-shadow: 2px 2px $shadow;
        position: relative;
//        display: inline-block;
        padding: 0 55px;
        &:before,&:after{
            content: '';
            position: absolute;
            top: 50%;
            display: inline-block;
            width: 200px;
            height: 4px;
            background-color: $sub-color;
            box-shadow: 3px 3px $shadow;
            }
        &:before{left:0;}
        &:after{right: 0;}
    }
}

.relative{
    position: relative;
}

.centering{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.width100{
    width: 100%;
}

.box{
    background-color: $sub-color;
    box-shadow: 5px 5px $shadow;
    color: $main-color;
}

//header

header{
    margin-bottom: 40px;
}

.navbar-default{
    margin: 0;
    img{
        width: 200px;
        vertical-align: middle;
        float: left;
        margin-left: 20px;
    }
    .navbar-nav>li>a{
        font-size: 1em;
        font-weight: 700;
        text-shadow: 1px 1px #222;
    }
}

.navPosition{
    margin-right: 20px;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.carousel-inner{
    img{
        width: 100%;
    }
}

header h1{
    z-index: 10;
    color: white;
    font-weight: bold;
    font-size: 65px;
    width: 94%;
    margin: 0 0 0 30px;
    text-shadow: 3px 3px #222;
    &:first-letter{
        font-size: 2em;
    }
}

//Section 1
.about{
    display: flex;
    p{
        color: $main-color;
        padding:5px 10px;
        &:first-letter{font-size: 1.5em;}
    }
    img{
        width: 100%;
    }
    .content1{
        width: 100%;
        margin: 20px 0 0 30px;
        font-size: 18px;
    }
}

//Section 2
.room{
    .content2{
        display: flex;
        justify-content: space-between;
    }
    .flex-item{
        padding: 10px;
        width: 32%;
    }
    p{
        font-size: 20px;
        margin: 5px 0;
        span{
           font-weight: 700;
           border-bottom: 1px solid $sub-color;
           padding: 5px 0;
           margin: 20px 0;
        }
    }
    .content3{
        margin: 50px 0;
        padding: 1px;
        p{
            margin: 30px 40px;
            &:first-letter{font-size: 1.5em;}
        }
        img{
            display: block;
            margin: 0 auto 30px auto;
        }
    }
}

//Section 3
.breakfast{
    
}

//Section 4
.contact{
    
}

//footer
footer{
    .goUpicon{
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        right: 10px;
        bottom: 10px;
        font-size: 40px;
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }
    .glyphicon{
        top: 3px;
        left: 3px;
    }
}

//responsive
@media all and (max-width: 768px){
    .navbar-default{
    img{
        width: 200px;
        vertical-align: middle;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .navbar-nav>li>a{
        font-size: 1.5em;
        text-align: center;
    }
}
    .navbar-toggle{
        margin-top: -41px;
    }
}