body {
  background-color: #c7bda4;
  font-family: helvetica sans-serif; }

section {
  width: 100%;
  max-width: 85%;
  margin: 100px auto; }
  section h2 {
    margin-bottom: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    color: #5c554b;
    text-shadow: 2px 2px #777;
    position: relative;
    padding: 0 55px; }
    section h2:before, section h2:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 200px;
      height: 4px;
      background-color: #5c554b;
      box-shadow: 3px 3px #777; }
    section h2:before {
      left: 0; }
    section h2:after {
      right: 0; }

.relative {
  position: relative; }

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.width100 {
  width: 100%; }

.box {
  background-color: #5c554b;
  box-shadow: 5px 5px #777;
  color: #c7bda4; }

header {
  margin-bottom: 40px; }

.navbar-default {
  margin: 0; }
  .navbar-default img {
    width: 200px;
    vertical-align: middle;
    float: left;
    margin-left: 20px; }
  .navbar-default .navbar-nav > li > a {
    font-size: 1em;
    font-weight: 700;
    text-shadow: 1px 1px #222; }

.navPosition {
  margin-right: 20px; }

.container-fluid {
  margin: 0;
  padding: 0; }

.carousel-inner img {
  width: 100%; }

header h1 {
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 65px;
  width: 94%;
  margin: 0 0 0 30px;
  text-shadow: 3px 3px #222; }
  header h1:first-letter {
    font-size: 2em; }

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .about p {
    color: #c7bda4;
    padding: 5px 10px; }
    .about p:first-letter {
      font-size: 1.5em; }
  .about img {
    width: 100%; }
  .about .content1 {
    width: 100%;
    margin: 20px 0 0 30px;
    font-size: 18px; }

.room .content2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.room .flex-item {
  padding: 10px;
  width: 32%; }
.room p {
  font-size: 20px;
  margin: 5px 0; }
  .room p span {
    font-weight: 700;
    border-bottom: 1px solid #5c554b;
    padding: 5px 0;
    margin: 20px 0; }
.room .content3 {
  margin: 50px 0;
  padding: 1px; }
  .room .content3 p {
    margin: 30px 40px; }
    .room .content3 p:first-letter {
      font-size: 1.5em; }
  .room .content3 img {
    display: block;
    margin: 0 auto 30px auto; }

.breakfast .content4 img {
  margin: 0 0 30px 0; }
.breakfast .content5 img {
  width: 300px;
  height: 300px;
  margin: 50px 0;
  object-fit: cover;
  box-shadow: 4px 4px #5c554b; }
.breakfast .content5 .menuText {
  text-align: center;
  color: #c7bda4;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  margin: 50px 0;
  opacity: 0; }
  .breakfast .content5 .menuText:hover {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in;
            transition: opacity 0.4s ease-in; }
  .breakfast .content5 .menuText span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0; }
  .breakfast .content5 .menuText p {
    font-size: 16px;
    padding: 10px; }
.breakfast #show {
  text-align: center;
  font-size: 3em;
  max-width: 350px;
  margin: 0 auto; }
  .breakfast #show:hover {
    box-shadow: none; }

footer .goUpicon {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  opacity: 0.6; }
  footer .goUpicon:hover {
    opacity: 1; }
footer .glyphicon {
  top: 3px;
  left: 3px; }

@media all and (max-width: 768px) {
  .navbar-default img {
    width: 200px;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
    float: none; }
  .navbar-default .navbar-nav > li > a {
    font-size: 1.5em;
    text-align: center; }

  .navbar-toggle {
    margin-top: -41px; } }

/*# sourceMappingURL=style.css.map */